/*-- -------------------------- -->
<---          Events            -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #events {
    text-align: center;
  }
  #events .content-h2 {
    text-align: center;
    margin-bottom: 1.2em;
  }
  #events .events-container .event {
    width: 96%;
    max-width: 18.25em;
    height: 17.85em;
    margin: auto;
    position: relative;
    display: block;
    background-color: transparent;
    border: none;
    padding: 2.5em;
    text-transform: initial;
    box-shadow: 0px 4px 46px rgba(0, 0, 0, 0.08);
    border-radius: 0.15em;
    margin-bottom: 2.5em;
    text-decoration: none;
  }
  #events .events-container .event:last-of-type {
    margin-bottom: 5em;
  }
  #events .events-container .event .date {
    font-size: 0.7em;
    line-height: 2.28571429;
    color: var(--primary);
    display: block;
    letter-spacing: 1px;
  }
  #events .events-container .event h3 {
    font-family: 'Gelasio', Helvetica, serif;
    font-size: 1.4em;
    line-height: 1.14285714;
    margin-bottom: 1.21428571em;
  }
  #events .events-container .event p {
    font-size: 0.9em;
  }
  #events .events-container .event .click {
    text-align: left;
    font-size: 0.8em;
    display: block;
    margin-top: 1.5em;
  }
}
@media only screen and (min-width: 500px) {
  #events {
    padding-top: 7.5em;
  }
  #events .container {
    width: 96%;
    max-width: 79em;
  }
  #events .events-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: min(2.3vw, 1em);
    width: 100%;
  }
  #events .events-container .event {
    margin: 1em;
    width: 18.25em;
    font-size: inherit;
  }
  #events .events-container .event:last-of-type {
    margin: 1em;
  }
  #events .button-solid {
    margin-top: 4em;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #events {
    padding-top: 5em;
  }
  #events .content-h2 {
    text-align: center;
  }
  #events .events-container {
    justify-content: center;
    font-size: min(1.2vw, 1em);
  }
  #events .events-container .event {
    margin: 0;
    color: #1a1a1a;
    margin-right: 2.5em;
    min-height: 17.85em;
    display: flex;
    flex-direction: column;
  }
  #events .events-container .event:last-of-type {
    margin: 0;
  }
  #events .events-container .event h3,
  #events .events-container .event p,
  #events .events-container .event .date {
    text-align: left;
  }
  #events .events-container .event .click {
    margin-top: auto;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #events {
    padding-bottom: 0em;
  }
  #events h2 {
    font-size: 3.2em;
  }
  #events .events-container .event {
    box-shadow: none;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  }
  #events .events-container .event h3,
  #events .events-container .event .date,
  #events .events-container .event p {
    transition: color .3s;
  }
  #events .events-container .event:hover {
    background-color: var(--primary);
    box-shadow: 0px 4px 46px rgba(0, 0, 0, 0.08);
    transform: translateY(-1em);
  }
  #events .events-container .event:hover h3 {
    color: #fff;
  }
  #events .events-container .event:hover .date,
  #events .events-container .event:hover p {
    color: #fff;
    opacity: .9;
  }
  #events .events-container .event:hover .click {
    color: #fff;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1800px) {
  #events {
    position: relative;
  }
  #events:before {
    content: '';
    position: absolute;
    display: block;
    height: 50.4em;
    width: 50.4em;
    background: url("../images/violin.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    top: -7.5em;
    right: -25em;
    transform: rotate(45.28deg);
    z-index: -1;
  }
}
/* Dark mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #events:before {
    opacity: .05;
  }
  body.dark-mode #events .events-container .event .date {
    color: #fff;
  }
  body.dark-mode #events .events-container .event h3 {
    color: #fff;
  }
  body.dark-mode #events .events-container .event .click {
    color: #fff;
  }
}
/*-- -------------------------- -->
<---        Manufacture         -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #manufacture {
    padding: 3.75em 0;
    text-align: center;
  }
  #manufacture picture {
    margin: auto;
    position: relative;
    display: block;
    width: 90%;
    max-width: 20em;
    margin-bottom: 2.45em;
  }
  #manufacture picture:before {
    content: '';
    position: absolute;
    display: block;
    height: 70%;
    width: 50%;
    background: #CEE3DF;
    opacity: 1;
    bottom: -0.75em;
    left: 0em;
    z-index: -1;
  }
  #manufacture picture img {
    display: block;
    width: 90%;
    max-width: 20em;
    margin: auto;
    height: auto;
  }
  #manufacture h2 {
    margin: auto;
    max-width: 12.5em;
    margin-bottom: 0.9375em;
  }
  #manufacture p {
    margin: auto;
    margin-bottom: 1.5em;
    max-width: 26.11111111em;
  }
  #manufacture .button-solid {
    margin-top: 3.22222222em;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #manufacture {
    text-align: left;
    padding-top: 0;
  }
  #manufacture .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: min(1.3vw, 1em);
    width: 96%;
    max-width: 70.7em;
    padding: 0;
    padding-top: 9.3em;
  }
  #manufacture picture {
    margin: 0;
    min-width: 36.4em;
    height: 34.55em;
    max-width: 36.4em;
    margin-right: 3.7em;
  }
  #manufacture picture:before {
    width: 24.25em;
    height: 29.7em;
    left: -2.3em;
    bottom: -3.5em;
  }
  #manufacture picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: 100%;
    margin: 0;
  }
  #manufacture h2 {
    margin-left: 0;
    width: 100%;
    margin-top: 0.734375em;
    font-size: 3.2em;
  }
  #manufacture p {
    margin-left: 0;
    max-width: 25.44444444em;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #manufacture picture:before {
    background: var(--darkPrimary);
    opacity: .5;
  }
  body.dark-mode #manufacture h2 {
    filter: none;
  }
}
/*-- -------------------------- -->
<---           Ideas            -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #ideas {
    position: relative;
  }
  #ideas:before {
    content: '';
    position: absolute;
    display: block;
    height: 1.1em;
    width: 100%;
    background: #ECE5DF;
    opacity: 1;
    bottom: 0em;
    left: 0;
    z-index: -1;
  }
  #ideas h2 {
    text-align: center;
    display: block;
    margin: auto;
    max-width: 13.640625em;
    margin-bottom: 0.53125em;
    position: relative;
    z-index: 20;
    padding: 0 0.15625em;
  }
  #ideas .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 96%;
    max-width: 70.7em;
    margin: auto;
    font-size: min(1.4vw, 1em);
    transform: translateX(1.65em);
    z-index: 100;
  }
  #ideas .group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  #ideas .group picture:first-of-type {
    margin-bottom: 2em;
  }
  #ideas picture {
    display: block;
    position: relative;
  }
  #ideas picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #ideas .one {
    width: 37.6em;
    height: 46em;
    margin-top: 8.85em;
    margin-right: 2em;
  }
  #ideas .one:before {
    content: '';
    position: absolute;
    display: block;
    height: 24.25em;
    width: 22.65em;
    background: #BEDAD4;
    opacity: 1;
    bottom: -3.2em;
    left: -1.65em;
    z-index: -1;
  }
  #ideas .two {
    width: 29.75em;
    height: 40.55em;
  }
  #ideas .three {
    width: 25.05em;
    height: 29.45em;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #ideas {
    padding-top: 5.45em;
    padding-bottom: 0;
  }
  #ideas:before {
    height: 2.55em;
  }
  #ideas .container {
    transform: none;
  }
  #ideas h2 {
    font-size: min(4.16vw, 3.2em);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #ideas:before {
    background: #413325;
  }
  body.dark-mode #ideas .group .two {
    position: relative;
  }
  body.dark-mode #ideas .one:before {
    background: var(--darkPrimary);
    opacity: .5;
  }
}
/*-- -------------------------- -->
<---        What We Do          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #what-we-do {
    background: #ECE5DF;
    padding-top: 2.7em;
    padding-bottom: 3.75em;
    position: relative;
  }
  #what-we-do .top-section {
    max-width: 20em;
  }
  #what-we-do h2,
  #what-we-do h3,
  #what-we-do a {
    color: #413325;
  }
  #what-we-do h2 {
    margin-bottom: 0.78125em;
  }
  #what-we-do p {
    margin-bottom: 2.11111111em;
  }
  #what-we-do .process {
    font-family: 'Inter', Arial, monospace;
    font-weight: 500;
    display: block;
    padding-bottom: 0.5em;
    text-decoration: none;
    position: relative;
    margin-bottom: 4.16666667em;
  }
  #what-we-do .process:before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 0.05555556em;
    width: 100%;
    background-color: #413325;
    opacity: 1;
    bottom: 0;
    left: 0;
    max-width: 15.38888889em;
  }
  #what-we-do .bottom-section .card {
    width: 100%;
    max-width: 12.65em;
    margin: auto;
    margin-bottom: 2.5em;
    text-decoration: none;
    display: block;
  }
  #what-we-do .bottom-section .card:last-of-type {
    margin-bottom: 0;
  }
  #what-we-do .bottom-section .card img {
    display: block;
    margin: auto;
    margin-left: 0;
    width: 3.45em;
    height: 3.45em;
    margin-bottom: 1.8em;
  }
  #what-we-do .bottom-section .card h3 {
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.53em;
    letter-spacing: .005em;
    margin-bottom: 0.66666667em;
  }
  #what-we-do .bottom-section .card p {
    line-height: 1.74em;
    color: #614D38;
    margin-bottom: 0;
  }
}
/* Tablet */
@media only screen and (min-width: 516px) {
  #what-we-do {
    position: relative;
    z-index: 1;
  }
  #what-we-do:before {
    content: '';
    position: absolute;
    display: block;
    height: 21.95em;
    width: 17.375em;
    background: url("../images/left.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    top: -5em;
    left: -5em;
    z-index: -1;
    transform: rotate(90deg);
  }
  #what-we-do h2 {
    font-size: 3.2em;
  }
  #what-we-do .top-section {
    margin-left: 2.5em;
  }
  #what-we-do .bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: min(3.4vw, 1em);
  }
  #what-we-do .bottom-section .card {
    width: 35%;
    max-width: 50%;
  }
  #what-we-do .bottom-section .card:nth-of-type(3) {
    margin-bottom: 0;
  }
}
/* Small Desktop */
@media only screen and (min-width: 768px) {
  #what-we-do {
    padding-top: 6.7em;
    padding-bottom: 7.5em;
  }
  #what-we-do:before {
    height: 43.9em;
    width: 34.75em;
    top: -12.5em;
    left: -10em;
  }
  #what-we-do .container {
    max-width: 70.7em;
    padding: 0;
  }
  #what-we-do .top-section {
    max-width: 96%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  #what-we-do h2 {
    max-width: 8.1875em;
    margin-right: 1.5625em;
  }
  #what-we-do p {
    max-width: 30.83333333em;
    width: 100%;
    min-height: 7em;
  }
  #what-we-do .process {
    width: 15.38888889em;
    transition: color .3s;
  }
  #what-we-do .process:before {
    transition: background-color 0.3s;
  }
  #what-we-do .process:hover {
    color: var(--primary);
  }
  #what-we-do .process:hover:before {
    background: var(--primary);
  }
}
@media only screen and (min-width: 1024px) {
  #what-we-do .bottom-section .card {
    z-index: 1;
    perspective: 700px;
  }
  #what-we-do .bottom-section .card:before {
    content: '';
    position: absolute;
    display: block;
    background: #fff;
    top: -1.5em;
    left: -1.5em;
    bottom: -1.5em;
    right: -1.5em;
    z-index: -1;
    transform: rotateY(90deg);
    opacity: 0;
    pointer-events: none;
    transition: transform .3s, opacity .3s;
    transform-style: preserve-3d;
  }
  #what-we-do .bottom-section .card:hover:before {
    transform: rotateY(0deg);
    opacity: .5;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1200px) {
  #what-we-do {
    padding-bottom: 5.7em;
  }
  #what-we-do .top-section {
    margin-bottom: 5.2em;
    width: 100%;
    max-width: 100%;
  }
  #what-we-do h2 {
    margin-bottom: 0;
  }
  #what-we-do .process {
    margin-bottom: 0;
  }
  #what-we-do .bottom-section .card {
    width: 12.65em;
    max-width: 12.65em;
    margin: 0;
  }
}
@media only screen and (min-width: 1800px) {
  #what-we-do:after {
    content: '';
    position: absolute;
    display: block;
    height: 35.12em;
    width: 27.8em;
    background: url("../images/left.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    bottom: -7.5em;
    right: -5em;
    transform: rotate(-95deg);
    z-index: -1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #what-we-do {
    background: #413325;
  }
  body.dark-mode #what-we-do:before {
    opacity: .3;
  }
  body.dark-mode #what-we-do h2,
  body.dark-mode #what-we-do p {
    color: #ECE5DF;
  }
  body.dark-mode #what-we-do h3 {
    color: #ECE5DF;
  }
  body.dark-mode #what-we-do .process {
    color: #ECE5DF;
  }
  body.dark-mode #what-we-do .process:before {
    background: #ECE5DF;
  }
  body.dark-mode #what-we-do .bottom-section .card:hover:before {
    opacity: .3 !important;
  }
  body.dark-mode #what-we-do .bottom-section .card p {
    color: #ECE5DF;
  }
}
/*-- -------------------------- -->
<---         Featured           -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #featured {
    padding-top: 3.75em;
  }
  #featured h2 {
    text-align: center;
    margin: auto;
    margin-bottom: 0.78125em;
  }
  #featured .container {
    width: 96%;
    max-width: 67.55em;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    font-size: min(1.4vw, 1em);
    z-index: 100;
  }
  #featured .container .group {
    display: flex;
    flex-direction: column;
  }
  #featured .container .group:first-of-type {
    align-items: flex-end;
  }
  #featured picture {
    display: block;
    position: relative;
  }
  #featured picture.one {
    width: 30.65em;
    height: 45.95em;
    margin-bottom: 1.8em;
    margin-top: 13.5em;
  }
  #featured picture.two {
    width: 34.85em;
    height: 47em;
    margin-bottom: 1.8em;
  }
  #featured picture.three {
    width: 25.2em;
    height: 37.75em;
  }
  #featured picture.four {
    width: 29.75em;
    height: 38.25em;
  }
  #featured picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #featured a {
    font-size: min(9.4vw, 1.8em);
    transform: translateY(2.44444444em);
    margin-left: 0.55555556em;
  }
}
@media only screen and (min-width: 500px) {
  #featured a {
    font-size: min(9.4vw, 1.5em);
  }
}
@media only screen and (min-width: 48em) {
  #featured h2 {
    font-size: 3.2em;
  }
  #featured a {
    font-size: 0.9em;
    transform: translateY(8.33333333em) translateX(-2.22222222em);
    margin: auto;
  }
}
@media only screen and (min-width: 64em) {
  #featured {
    padding-bottom: 0;
  }
  #featured a {
    transform: translateY(7.77777778em) translateX(-2.22222222em);
  }
}
@media only screen and (min-width: 1200px) {
  #featured a {
    transform: translateY(8.33333333em) translateX(-2.22222222em);
  }
}
/* Small Desktop */
@media only screen and (min-width: 1400px) {
  #featured {
    padding-top: 7.6em;
    max-width: 67.55em;
    padding: 0;
    padding-top: 11em;
    margin: auto;
    width: 96%;
  }
  #featured .container {
    width: 100%;
  }
  #featured h2 {
    max-width: 100%;
    margin: auto;
    text-align: left;
    padding-left: 2.03125em;
    margin-bottom: -2.671875em;
    font-size: 3.2em;
  }
  #featured a {
    transform: translateY(8.88888889em) translateX(-2.22222222em);
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #reviews {
    background: #DFECEA;
    padding-top: 3.7em;
    padding-bottom: 3.75em;
    position: relative;
  }
  #reviews:before {
    content: '';
    position: absolute;
    display: block;
    height: 1.1em;
    width: 100%;
    background: #DFECEA;
    opacity: 1;
    top: -1.05em;
    left: 0;
    z-index: -1;
  }
  #reviews .top-section {
    max-width: 21.5em;
  }
  #reviews h2,
  #reviews h3,
  #reviews a {
    color: #12211E;
  }
  #reviews h2 {
    margin-bottom: 0.78125em;
  }
  #reviews p {
    margin-bottom: 2.77777778em;
    color: #12211E;
  }
  #reviews .bottom-section .card {
    width: 100%;
    max-width: 21.55em;
    margin: auto;
    margin-bottom: 2.5em;
    background: #fff;
    padding: 2.5em 2.5em 2.1em 2.5em;
  }
  #reviews .bottom-section .card:last-of-type {
    margin-bottom: 0;
  }
  #reviews .bottom-section .card .quote {
    display: block;
    margin-left: 0;
    height: 1em;
    width: 1em;
    margin-bottom: 1.5em;
  }
  #reviews .bottom-section .card h3 {
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.53em;
    letter-spacing: .005em;
    margin-bottom: 0.66666667em;
  }
  #reviews .bottom-section .card p {
    line-height: 1.74em;
    color: #614D38;
    margin-bottom: 2.5em;
  }
  #reviews .bottom-section .card .info img {
    display: block;
    width: 3.3em;
    height: 3.3em;
    float: left;
  }
  #reviews .bottom-section .card .info .name,
  #reviews .bottom-section .card .info .title {
    display: block;
    margin-left: 4.94444444em;
    text-align: left;
    line-height: 1.47em;
  }
  #reviews .bottom-section .card .info .name {
    font-weight: 600;
    font-size: 0.9em;
    color: #25413B;
    margin-top: 0.38888889em;
  }
  #reviews .bottom-section .card .info .title {
    font-size: 0.9em;
    color: #25413B;
  }
}
/* Tablet */
@media only screen and (min-width: 516px) {
  #reviews:before {
    top: -2.5em;
    height: 2.5em;
  }
  #reviews h2 {
    font-size: 3.2em;
  }
  #reviews .bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: min(3.4vw, 1em);
  }
}
/* Small Desktop */
@media only screen and (min-width: 750px) {
  #reviews {
    padding-top: 4.75em;
    padding-bottom: 7.5em;
  }
  #reviews:before {
    height: 5.05em;
    top: -2em;
  }
  #reviews .container {
    max-width: 71.3em;
    padding: 0;
  }
  #reviews .top-section {
    max-width: 96%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  #reviews h2 {
    max-width: 9.9375em;
    margin-right: 1.5625em;
    margin-bottom: 1.53125em;
    font-size: 2.20689655em;
  }
  #reviews p {
    max-width: 35.55555556em;
    width: 100%;
  }
  #reviews .bottom-section {
    font-size: min(1.9vw, 1em);
    justify-content: center;
  }
  #reviews .bottom-section .card {
    margin: 0.75em;
  }
}
@media only screen and (min-width: 1024px) {
  #reviews {
    padding-bottom: 6em;
  }
  #reviews:before {
    top: -2.5em;
  }
  #reviews .bottom-section {
    font-size: min(1.4vw, 1em);
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  #reviews .bottom-section .card {
    margin: 0;
    min-height: 24.95em;
  }
  #reviews .bottom-section .card p {
    font-size: 0.75em;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1200px) {
  #reviews {
    padding-bottom: 5.7em;
  }
  #reviews .top-section {
    margin-bottom: 5.2em;
    width: 100%;
    max-width: 100%;
  }
  #reviews h2 {
    margin-bottom: 0;
    font-size: 3.2em;
  }
  #reviews .process {
    margin-bottom: 0;
  }
  #reviews .bottom-section .card {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #reviews {
    background: #12211E;
  }
  body.dark-mode #reviews:before {
    background: #12211E;
  }
  body.dark-mode #reviews h2 {
    color: #DFECEA;
  }
  body.dark-mode #reviews p {
    color: #DFECEA;
  }
  body.dark-mode #reviews .bottom-section .card {
    background: #DFECEA;
  }
  body.dark-mode #reviews .bottom-section .card p {
    color: #25413B;
  }
}
/*-- -------------------------- -->
<---           CTA              -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #cta {
    position: relative;
    padding: 2.5em 0;
    background-color: #000000;
    z-index: 1;
  }
  #cta .container {
    max-width: 25em;
    margin: auto;
  }
  #cta picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .25;
    pointer-events: none;
    z-index: -1;
  }
  #cta picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #cta .cursive {
    font-size: 1.5em;
    font-size: min(8.4vw, 1em);
    text-align: center;
    display: block;
    color: #fff;
  }
  #cta h2 {
    font-size: min(11.4vw, 3.2em);
    text-transform: initial;
    text-align: center;
    width: 100%;
    line-height: 1em;
    margin-bottom: 0.54545455em;
    color: #fff;
  }
  #cta p {
    text-align: center;
    max-width: 27.5em;
    margin: auto;
    margin-bottom: 3.16666667em;
    color: #fff;
  }
  #cta form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  #cta form input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #707070;
    font-size: 0.8em;
    height: 3.125em;
    margin-bottom: 1.5625em;
    padding-left: 0.9375em;
    color: #fff;
  }
  #cta form .button-transparent {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    width: 100%;
    display: block;
  }
}
/* Tablet */
@media only screen and (min-width: 48em) {
  #cta {
    padding: 5em 0;
  }
}
/* Small Desktop */
@media only screen and (min-width: 900px) {
  #cta {
    padding-top: 5.65em;
    padding-bottom: 5.65em;
  }
  #cta .container {
    max-width: 32.4em;
    width: 96%;
  }
  #cta form {
    flex-wrap: nowrap;
    align-items: flex-end;
    gap: 1.2em;
  }
  #cta form input {
    width: 21.2em;
    margin: 0;
  }
  #cta form .button-transparent {
    width: 14.28571429em;
    position: relative;
    z-index: 1;
    margin: 0;
  }
  #cta form .button-transparent:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: #fff;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .3s;
  }
  #cta form .button-transparent:hover {
    color: var(--bodyText);
  }
  #cta form .button-transparent:hover:before {
    width: 100%;
  }
}
